 .vs/EniacSpi/v14/.suo.orig
EniacSpi/bin/EniacSpi.pdb
EniacSpi/obj/Debug/EniacSpi.csprojResolveAssemblyReference.cache
EniacSpi/obj/Debug/EniacSpi.dll
EniacSpi/obj/Debug/EniacSpi.pdb
oclHashcatNet/obj/Debug/oclHashcatNet.pdb
oclHashcatNet/obj/Debug/oclHashcatNet.dll
oclHashcatNet/bin/Debug/oclHashcatNet.pdb
oclHashcatNet/bin/Debug/oclHashcatNet.dll
EniacSpi/obj
EniacSpi/bin
oclHashcatNet/bin
oclHashcatNet/obj
EniacSpi/App_Data