
@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h2>Welcome!</h2>
    <br \>
    <p>
        Welcome to Eniac Home, log-in on the left hand side of the screen to get going. Or click on the 'get started' button to learn more!
        <br \>
        <br \>
        <button type="button" class="btn btn-default" href="#">Get Started</button>
        
    </p>
</div>

