
@{
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h2>Welcome!</h2>
    <br \>
    <p>
        Welcome to Eniac Home, log-in on the left hand side of the screen to get going. Or click on the 'get started' button to learn more!
        <br \>
        <br \>
        <button class="btn btn-default" onclick="location.href = '@Url.Action("Login", "Account", new { area = ""})';" style="margin-left: 30px;">
            Login
        </button>
        
    </p>
</div>

