@model EniacSpi.Models.LoginViewUserModel
@using Microsoft.AspNet.Identity
@using System.Linq
@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script type="text/javascript">
        function SubmitUser() {
            $(this).closest('form').submit();
        }
    </script>
}
<div class="loginPage content">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Username" })
                @Html.PasswordFor(model => model.Password, new { @class = "form-control pwbox", @placeholder = "Password" })
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            }
            <div class="login-help">
                <a href="#">Forgot Password</a>
            </div>
        </div>
    </div>
</div>
