
<br />

<div id="TargetHostTraffic">
    <ul>
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        var es = new EventSource(@Url.Action("TargetHostTrafficReceived", "Host", new { Name = ViewBag.HostName }));
        es.onmessage = function (e) {
            var packet = JSON.parse(e.data)
            var item = document.createElement('li');
            item.textContext = packet.Length;
            $("#TargetHostTraffic ul").append(item);
        };
        es.onerror = function () {
            console.log(arguments);
        };
    });

</script>
