@model EniacSpi.Models.HostTargetHostInformationModel

<br />
<table>
    <tr>
        <td style="padding-right: 20px">
            <b>@Html.DisplayNameFor(model => model.MAC)</b>
        </td>
        <td>
            @Html.DisplayFor(model => model.MAC)
        </td>
    </tr>
</table>
<br />
<a id="SelectTargetHostButton" class="btn btn-default" href="@Url.Action("SelectTargetHost", "Host", new { Name = ViewBag.HostName, selectedMAC = Model.MAC})">Select</a>
<br />
